.card {
    border-radius: 20px;
    margin-bottom: 40px;
    height: 300px;
    object-fit: cover;
    position: relative;
}

.title {
    font-size: 20px;
    font-weight: bold;
    margin-left: 5px;
    margin-bottom: 10px;
    margin-top: 20px;
}


.test {
    position: absolute;
    z-index: 1;
    margin-top: 60px;
}

.fieldLabel {
    display: inline-block;
    padding: 5px 10px;
    border: 2px solid #000;
    border-radius: 20px;
    font-size: 16px;
    text-align: center;
    color: #000;
}

.cardTitle {
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
}

.cardImg{
    width: 30%;
}

.tagLabel{
    display: inline-block;
    padding: 5px 10px;
    background-color: #f3f5f7; /* 배경색 */
    border-radius: 20px; /* 둥근 모서리 */
    font-size: 16px; /* 폰트 크기 */
    font-weight: bold; /* 폰트 굵기 */
    color: #555555; /* 폰트 색상 */
    text-align: center; /* 텍스트 중앙 정렬 */
}

.tagRow {
    margin-top: 10px;
    margin-bottom: 10px;
}

.downloadImg {
    width: 8%;
    margin-right: 3px;
}

.labelCol {
    display: flex;
    justify-content: flex-start;
}